<main class="wrapper">
    <div class="main-content">
        <h1>Henrique Gomes</h1>
        <span>DESENVOLVEDOR DE SOFTWARE</span>
        <p>
            Olá, sou o Henrique! Sou estudante de <strong>Engenharia de Software</strong>, atualmente tenho gostado 
            bastante de fazer projetos em Java, Angular e Spring boot. <br><br>Amo música, tem sido meu principal 
            hobby, seguido de leitura. Além disso, gosto de ensinar, criar e construir coisas, por isso gosto 
            tanto de criar softwares, mesmo que sejam projetos pessoais.
        </p>
    </div>
</main>