<section id="projects">
    <div class="main-content">
        <h2>Projetos</h2>
        <p>Alguns dos meus principais projetos, clique para ver os detalhes.</p>
        <div class="project-card">
            <app-card 
                title="Uniformix"
                [image]="uniformixImg"
                description="Sistema de gerenciamento de fardamentos para RH."
                [link]="uniformixlink"
            ></app-card>
            <app-card
                title="Automação de relatórios"
                [image]="relatoriosImg"
                description="Aplicação desktop que automatiza a criação de
                relatórios personalizados para diversas lojas."
                [link]="relatoriosLink"
            ></app-card>
            <app-card
                title="Sunset Hotel"
                [image]="sunsetHotelImg"
                description="Sistema desktop para reservas de hotel."
                [link]="sunsetHotelLink"
            ></app-card>
            <app-card
                title="Do it for life"
                [image]="doItForLifeImg"
                description="Pomodoro e Lista de tarefas gamificadas."
                [link]="doItForLifeLink"
            ></app-card>
        </div>
    </div>
</section>