<section id="projects" class="wrapper">
    <div class="main-content">
        <h2>Projetos</h2>
        <p>Alguns dos meus principais projetos, clique para ver os detalhes.</p>
        <div class="project-card">
            <app-card 
                title="Uniformix"
                route="/projects/uniformix"
                [image]="uniformixImg"
                description="Sistema de gerenciamento de fardamentos para RH."
                [link]="uniformixlink"
                tag1="Java"
                tag2="Spring" tagColor2="green"
                tag3="Angular" tagColor3="darkred"
            ></app-card>
            <app-card
                title="Automação de relatórios"
                route="/projects/automatedReports"
                [image]="relatoriosImg"
                description="Aplicação desktop que automatiza a criação de
                relatórios personalizados para diversas lojas."
                [link]="relatoriosLink"
                tag1="Python" tagColor1="darkorange"
                tag2="ElectronJs"
                tag3="Pandas" tagColor3="green"
            ></app-card>
            <app-card
                title="Sunset Hotel"
                route="/projects/sunsetHotel"
                [image]="sunsetHotelImg"
                description="Sistema desktop para reservas de hotel."
                [link]="sunsetHotelLink"
                tag1="Java" 
                tag2="MySQL" tagColor2="darkblue"
                tag3="Swing" tagColor3="gray"
            ></app-card>
            <app-card
                title="Do it for life"
                [image]="doItForLifeImg"
                description="Pomodoro e Lista de tarefas gamificadas."
                [link]="doItForLifeLink"
                tag1="HTML" tagColor1="darkred"
                tag2="CSS"
                tag3="JavaScript" tagColor3="darkorange"
            ></app-card>
        </div>
    </div>
</section>