<div class="container">
    <div class="resume padding">
        <h1>Do it for life</h1>
        <h3>Índice</h3>
        <ol class="list">
            <li class="list-item">Introdução</li>
            <li class="list-item">Tecnologias utilizadas</li>
            <li class="list-item">Requisitos</li>
            <li class="list-item">Funcionalidades</li>
            <li class="list-item">Design no Figma</li>
        </ol>
    </div>
    <div class="introducao padding">
        <h2 id="introducao">Introdução</h2>
        <div>
        <p> Do it for life é um projeto desenvolvido por <a href="https://github.com/Raffael-Wagner" target="_blank">Raffael Wagner</a> 
            e <a href="https://github.com/oihenrique" target="_blank">Henrique Gomes</a> com o objetivo de facilitar 
            a utilização de ferramentas de produtividade, como uma lista de tarefas ou a técnica pomodoro, de modo a 
            melhorar a realização de atividades. <br><br>
            Aplicação ao vivo: <a href="https://raffael-wagner.github.io/to-do-list/pomodoro" target="_blank">Pomodoro</a> | 
            <a href="https://raffael-wagner.github.io/to-do-list/" target="_blank">Lista de tarefas</a>.
        </p>
        <img src="../../../../assets/do-it-for-life.png" alt="uniformix-mockup">
        </div>
    </div>
    <div class="tecnologias padding">
        <h2 id="tecnologias">Tecnologias utilizadas</h2>
        <div>
            <ul class="list">
                <li class="list-item">JavaScript</li>
                <li class="list-item">HTML</li>
                <li class="list-item">CSS</li>
            </ul>
        <img src="../../../../assets/doitforlife2.png" alt="uniformix-mockup">
        </div>
    </div>
    <div class="funcionalidades padding">
        <h2 id="funcionalidades">Funcionalidades</h2>
        <ul>
            <li><strong>Pomodoro:</strong> Cronômetro regressivo com contagem de 25 (pomodoro), 15 (long break) ou 5 (short break) minutos
                e alarme de notificação quando o tempo acaba.</li>
            <li><strong>Botões de controle:</strong> Permite iniciar, pausar e reiniciar.</li>
            <li><strong>Lista de taredas:</strong> Permite adicionar, marcar tarefas feitas e excluí-las</li>
        </ul>
    </div>
    <div class="figma padding">
        <h2 id="figma">Figma Design</h2>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fdesign%2F2FLG2q29SVt548oAWDCLpl%2Fdo-it-for-life-app%3Fnode-id%3D0-1%26t%3D4JG4audxvIBHg0Z9-1" allowfullscreen></iframe>
    </div>
</div>
