<div class="card">
    <img [src]="image" alt="card-image">
    <div class="info">
        <h3> {{ title }} </h3>
        <p> {{ description }} </p>
        <div class="github">
            <a [href]="link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M119.83,56A52,52,0,0,0,76,32a51.92,51.92,0,0,0-3.49,44.7A49.28,49.28,0,0,0,64,104v8a48,48,0,0,0,48,48h48a48,48,0,0,0,48-48v-8a49.28,49.28,0,0,0-8.51-27.3A51.92,51.92,0,0,0,196,32a52,52,0,0,0-43.83,24Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M104,232V192a32,32,0,0,1,32-32h0a32,32,0,0,1,32,32v40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M104,208H72a32,32,0,0,1-32-32A32,32,0,0,0,8,144" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                <p>Github</p>
            </a>
        </div>
        <div class="tags" *ngIf="tag1 || tag2 || tag3">
            <app-tag *ngIf="tag1" [name]="tag1" [color]="tagColor1"></app-tag>
            <app-tag *ngIf="tag2" [name]="tag2" [color]="tagColor2"></app-tag>
            <app-tag *ngIf="tag3" [name]="tag3" [color]="tagColor3"></app-tag>
        </div>
    </div>
</div>
