$primary-color: #F2E963;
$secondary-color: #BF308D;
$secondary-700: #590C3E;
$terciary-color: #F23064;

$text-color: #0D0D0D;
$text-color-400: #262626;
$text-color-300: #595959;
$text-color-200: #8C8C8C;

$white-text-color: #F2F2F2;