$primary-color-500: #2A6AE0;
$secondary-color-500: #7001E0;

$primary-color-100: lighten($primary-color-500, 40%);
$primary-color-200: lighten($primary-color-500, 30%);
$primary-color-300: lighten($primary-color-500, 20%);
$primary-color-400: lighten($primary-color-500, 10%);
$primary-color-600: darken($primary-color-500, 10%);
$primary-color-700: darken($primary-color-500, 20%);
$primary-color-800: darken($primary-color-500, 30%);
$primary-color-900: darken($primary-color-500, 40%);

$secondary-color-100: lighten($secondary-color-500, 40%);
$secondary-color-200: lighten($secondary-color-500, 30%);
$secondary-color-300: lighten($secondary-color-500, 20%);
$secondary-color-400: lighten($secondary-color-500, 10%);
$secondary-color-600: darken($secondary-color-500, 10%);
$secondary-color-700: darken($secondary-color-500, 20%);
$secondary-color-800: darken($secondary-color-500, 30%);
$secondary-color-900: darken($secondary-color-500, 40%);



$primary-color-dark-500: #49608B;
$primary-color-dark-600: #434D61;
$primary-color-dark-700: #2F3136;


$secondary-color-500: #7001E0;


$hover-color: #E0820C;
$hover-color-lighter: #FFA624;
$prymary-border-color: #9A99E6;
$primary-focus-color: #1B9EE0;

$text-color: #0D0D0D;
$text-color-400: #262626;
$text-color-300: #595959;
$text-color-200: #8C8C8C;

$white-text-color-500: #F2F2F2;
