<div class="container">
    <div class="resume padding">
        <h1>Sunset Hotel - Sistema de gerenciamento de reservas</h1>
        <h3>Índice</h3>
        <ol class="list">
            <li class="list-item">Introdução</li>
            <li class="list-item">Tecnologias utilizadas</li>
            <li class="list-item">Funcionalidades</li>
            <li class="list-item">Design no Figma</li>
            <li class="list-item">Diagramas UML</li>
        </ol>
    </div>
    <div class="introducao padding">
        <h2 id="introducao">Introdução</h2>
        <div>
        <p> A ideia principal por trás do projeto Sunset Hotel foi criar um sistema de reservas que permita 
            gerenciar reservas de hotel e clientes ativos, bem como quartos e usuários do sistema.
            <br><br>
            O projeto faz parte do curso Oracle One Next, oferecido pela Alura, e tem como objetivo implementar o 
            conceito CRUD usando ORM com Hibernate, conectando-se a um banco de dados MySQL, e desenvolvendo interfaces
            gráficas usando Swing.
        </p>
        <img src="../../../../assets/sunset-hotel/runningProjectHotel1.gif" alt="uniformix-mockup">
        </div>
    </div>
    <div class="tecnologias padding">
        <h2 id="tecnologias">Tecnologias utilizadas</h2>
        <div>
                    <ul class="list">
            <li class="list-item"><strong>Java</strong>: utilizado para construção do backend e conexão JDBC com banco de dados.</li>
            <li class="list-item"><strong>Java Swing</strong>: utilizado para criação da interface de usuário.</li>
            <li class="list-item"><strong>Hibernate</strong>: utilizado para conexão entre o backend e o banco de dados.</li>
            <li class="list-item"><strong>MySQL</strong>: banco de dados relacional para armazenamento dos dados.</li>
        </ul>
        <img src="../../../../assets/sunset-hotel/runningProjectHotel2.gif" alt="uniformix-mockup">
        </div>
    </div>
    <div class="funcionalidades padding">
        <h2 id="funcionalidades">Funcionalidades</h2>
        <ul>
            <li><strong>Operações CRUD:</strong> Registro de usuários, reservas, hóspedes e quartos. 
                Além disso, edição e exclusão de usuários, reservas, hóspedes e quartos.</li>
            <li><strong>Interface desktop de Usuário</strong> para Uso do Sistema.</li>
            <li><strong>Login de Usuário</strong></li>
            <li><strong>Hashing e Salting Seguro de Senhas usando BCrypt.</strong></li>
            <li><strong>Integração com Banco de Dados MySQL</strong> para armazenamento das informações do sistema.</li>
        </ul>
    </div>
    <div>
        <img src="" alt="">
    </div>
</div>
