@import '../../../colors.scss';

.padding {
    padding: 1rem 32px;
}

.resume {
    background-color: $primary-color-dark-500;

    h1, li {
        color: $white-text-color-500;
    }

    h3 {
        color: $hover-color-lighter;
    }
}

.introducao {
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 95%;
        height: 95%;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    a {
        font-weight: 600;
        color: $hover-color;

        &:hover {
            color: $primary-color-500;
        }
    }

}

.tecnologias {
    background-color: $primary-color-dark-600;

    h2, li {
        color: $white-text-color-500;
    }

    Strong {
        color: $hover-color-lighter;
    }
}


.tecnologias {
    h2 {
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    img {
        width: 95%;
        height: 95%;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

}

.figma {
    text-align: center;

    h2 {
        text-align: left;
    }

    iframe {
        max-width: 100%;
    }
}

.uml {
    text-align: center;
    
    h2, h3 {
        text-align: left;
    }

    h3 {
        margin: 2rem 0;
    }

    img {
        max-width: 100%;
    }
}

@media (min-width: 1080px) {
    .padding {
        padding: 2rem 72px;
    }

    .introducao {
        text-align: left;

        div {
            flex-direction: row;
            align-items: start;
            gap: 1.5rem;
        }
        
        img {
            width: fit-content;
            height: 350px;
        }
    }

    .tecnologias {
        h2 {
            text-align: left;
        }

        div {
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
        }

        img {
            width: 550px;
            height: 350px;
        }
    }
}

@media (min-width: 1440px) {
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introducao, .tecnologias, .funcionalidades, .figma, .uml {
        margin: 0 auto;
        max-width: 50%;
    }
}

